{% extends "layout.html" %}

{% block content %}

<script>
    $(document).ready(function () {
        var jsondata = $("#jsonData").val();
        $("#searchResults").append($.parseHTML(jsondata));
        var rows = $('#searchTable').find('tbody tr:has(td)');
        var totalRows = rows.length;
        for (i = 0; i < totalRows; i++) {
            //rows[i].cells[0].attr("class", "searchkeywordid");
            rows[i].cells[1].onclick = function () { getTweets(this) };
        }
        var recordPerPage = 50;
        var totalPages = Math.ceil(totalRows / recordPerPage);
        var $pages = $('<div id="pages"></div>');
        for (i = 0; i < totalPages; i++) {
            $('<span class="pageNumber">&nbsp;' + (i + 1) + '</span>').appendTo($pages);
        }
        $pages.appendTo('#searchResults');
        $('.pageNumber').hover(function () {
            $(this).addClass('focus');
        }, function () {
            $(this).removeClass('focus');
        });
        $('table').find('tbody tr:has(td)').hide();
        var tr = $('table tbody tr:has(td)');
        for (var i = 0; i <= recordPerPage - 1; i++) {

            $(tr[i]).show();
        }
        $('span').click(function (event) {
            $('#searchTable').find('tbody tr:has(td)').hide();
            var nBegin = ($(this).text() - 1) * recordPerPage;
            var nEnd = $(this).text() * recordPerPage - 1;
            for (var i = nBegin; i <= nEnd; i++) {
                $(tr[i]).show();
            }
        });
    });
    function getTweets(cel) {
        $("#twitterResults").empty();
        $("#pagesTwitter").empty();
        $.ajax({
            type: "POST",
            data: { keyword: cel.previousSibling.innerHTML },
            url: '/getTweets',
            success: function (data) {
                $("#twitterResults").append($.parseHTML(data));
                var rows = $('#twitterResult').find('tbody tr:has(td)');
                var totalRows = rows.length;
                var recordPerPage = 50;
                var totalPages = Math.ceil(totalRows / recordPerPage);
                var $pages = $('<div id="pagesTwitter"></div>');
                for (i = 0; i < totalPages; i++) {
                    $('<span class="pageNumber">&nbsp;' + (i + 1) + '</span>').appendTo($pages);
                }
                $pages.appendTo('#searchResults');
                $('.pageNumber').hover(function () {
                    $(this).addClass('focus');
                }, function () {
                    $(this).removeClass('focus');
                });
                $('table').find('tbody tr:has(td)').hide();
                var tr = $('table tbody tr:has(td)');
                for (var i = 0; i <= recordPerPage - 1; i++) {

                    $(tr[i]).show();
                }
                $('span').click(function (event) {
                    $('#twitterResult').find('tbody tr:has(td)').hide();
                    var nBegin = ($(this).text() - 1) * recordPerPage;
                    var nEnd = $(this).text() * recordPerPage - 1;
                    for (var i = nBegin; i <= nEnd; i++) {
                        $(tr[i]).show();
                    }
                });
            },
        });

        //alert(cel.previousSibling.innerHTML);

    }
</script>
<!--<script>
    function CreateTableFromJSON() {
        var data = $("#jsonData").val();
        alert(data.val());
        var myBooks = JSON.stringify(data);
        alert(myBooks);
        // EXTRACT VALUE FOR HTML HEADER.
        // ('Book ID', 'Book Name', 'Category' and 'Price')
        var col = [];
        for (var i = 0; i < myBooks.length; i++) {
            for (var key in myBooks[i]) {
                if (col.indexOf(key) === -1) {
                    col.push(key);
                }
            }
        }

        // CREATE DYNAMIC TABLE.
        var table = document.createElement("table");

        // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

        var tr = table.insertRow(-1);                   // TABLE ROW.

        for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");      // TABLE HEADER.
            th.innerHTML = col[i];
            tr.appendChild(th);
        }

        // ADD JSON DATA TO THE TABLE AS ROWS.
        for (var i = 0; i < myBooks.length; i++) {

            tr = table.insertRow(-1);

            for (var j = 0; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                tabCell.innerHTML = myBooks[i][col[j]];
            }
        }

        // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);
    }
</script>-->
 Hi {{username}}
<input type="hidden" id="jsonData" value="{{data}}" />
<p>Please enter the required keyword below:</p>
<form action="/RunTwitterApi" method="post">
    <input type="text" name="keyword" />
    <input type="submit" value="Search" />
</form>
<!--<table id="" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Search KeyWordID</th>
            <th>Search Text</th>
            <th>Searched At</th>
            <th>User ID</th>
        </tr>
    </thead>
</table>-->
<div id="searchResults"></div>
<div id="twitterResults"></div>
<!--<input type="button" onclick="CreateTableFromJSON()" value="Create Table From JSON" />-->
<p id="showData"></p>

    {% endblock %}
